#padding {
  padding-left: 35px;
  padding-right: 35px;
}
#lower-education-container ul {
  margin-left: 30px;
}
#education-container {
  text-align: center;
}
#lower-education-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 1200px;
  font-family: Open sans-serif;
}
.left {
  width: 50%;
}
.right {
  width: 50%;
}
#color {
  font-weight: bold;
  color: #ff7a00;
}
.employee {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.eachemployee {
  padding: 30px;
}
.cards {
  width: 15rem;
}
.font {
  color: black !important;
}
.subtitle {
  font-size: 10px;
}
#imgsize {
  width: 238px;
  height: 238px;
}
@media (max-width: 1020px) {
  #lower-education-container {
    align-items: center;
    flex-direction: column;
  }
}
