.Introduction{
    text-align: center;
}
.Introduction h3{
    padding: 20px 15%;
}
.BlogList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 35px 0 40px;
}

@media(max-width: 1000px){
    .BlogList{
        flex-direction: column;
    }
}