.Introduction{
    text-align: center;
}
.Introduction h3{
    padding: 20px 15%;
}
.DisplayCard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Card{
    display: flex;
    flex-direction: column;
}
.Card img{
    width: 450px !important;
}
.Card p{
    padding-top: 15px;
    font-size: 20px;
}

@media(max-width: 1100px){
    .DisplayCard{
        flex-direction: column;
    }
    .Card{
        text-align: center;
    }
    .Card img{
        width: 60% !important;
    }
}