.AlignOuterBox {
  display: flex;
  justify-content: center;
}
#centertitle{
  text-align: center;
}
.OuterBox {
  display: flex;
  flex-direction: column;
  width: 900px;
}
.OuterBox p {
  color: #aaaaaa !important;
  
  font-size: 20px;
}
#paddingtop{
  padding-top: 30px;
}
.InnerBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .OuterBox {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .responsive{
    font-size: 16px;
    text-align: left;
  }
}
