.navbar-brand{
    font-weight: bold;
    font-size: 48px !important;
}
#responsive-navbar-nav{
    font-size: 30px;
    justify-content: flex-end;
}

@media(max-width: 850px){
    .navbar-brand{
        font-size: 30px !important;
    }
    .navbar-nav{
        font-size: 20px;
    }
}